*.txt
*.jsonl
-dataset_clang_simple.jsonl
.vscode
codebase/adc4x250
codebase/cppTango-9.3.7
codebase/llrf-hw
*/__pycache__
logs
models
models_gguf
*.ini
tloc
tauto
*.csv
venv/
*.zip
*.diff
rag-test/my_codebase/rfchannelds